html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-color: #7289a5;
  /* padding-bottom: 60px; */
}

body {
  /* background-color: #3a4654; */
}

.navbar {
  background-color: #536274;
}

.navbar a {
  color: #eee;
}
.navbar button {
  color: #eee;
}

nav * ul {
  padding: 0 20px;
}

a:hover {
  color: #7289a5;
}

.active.active.active.active {
  background-color: #58c8f5;
  color: #eee;
}

label {
  color: #eee;
}

.content {
  /* min-height: 100vh; */
  /* will cover the 100% of viewport */
  /* overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 60px; */
  /* height of your footer */

  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #536274;
  color: #ddd;
}

.card {
  margin-bottom: 20px;
}

.main-container {
  padding: 20px 0px;
  min-height:100%;
}

/* markdown > p > img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */