---
layout: layouts/main
---


<div class="container">
    <div class="card col-md-10 offset-md-1" style="background-color: #e1e5ea;">
        <div class="card-body">
            <h1 style="color: #536274">Welcome!</h1>
            <hr>
            <p style="color: #536274">
                I've created this site to share some gameDev <a href="/tutorials" style="color: #20262d; font-size: large";><em>tutorials</em></a>, <a href="/projects" style="color: #20262d; font-size: large"><em>projects</em></a> 
                I've worked on, as well as writing up some <a href="/devlogs" style="color: #20262d; font-size: large"><em>devlogs</em></a> of what I'm currently working on.</p>
            <p style="color: #536274">
                I predominantly work with the Godot game engine and LÖVE framework, and have a strong interest in procedural generation and AI systems in games.
            </p>
            <p style="color: #536274">
                So whether you want to learn how to create games, play around with some prototypes I've thrown together, or are interested in what goes into building games, I hope you find something of interest.
            </p>
            <p style="color: #536274">
                Thanks for stopping by!
            </p>
        </div>
    </div>
</div>